*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    width: 100%;
    background-color: #414447;
}
button{
    border: none;
    background-color: #414447;
    color: white;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight:bold;
    cursor: pointer;
}

form input[type='text']{
    display: block;
    background-color: #fff;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-family: 'Segoe UI';
    font-size: 15px;
}
.m-malik{
    background-color: #fff;
    position: absolute;
    width: 320px;
    height: 270px;
    padding: 50px 195px 70px 50px;
    margin: 100px 0px 0 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 6px -7px;
}
.sub-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;

}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}
.go-on{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}
.let-go{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: px;
}
.d-container img{
    margin: -300px 290px 30vh ;
    width: 220px;
    height: 350px;
    border-radius: 10px;
    
}

.error{
    color: red;
    font-size: 22px;
    font-weight: 600;
}

@media(max-width:780px){

   body{
    font-size: 20px;
   }
}


